<div class="topnav" id="myTopnav" *ngIf="getToken();">
    <!-- <div class="topnav" id="myTopnav" *ngIf="myTopnav"> -->
    <div class="container p-1">
        <a routerLink="/private" *ngIf="home" class="active">TransApp</a>

        <div class="dropdown">
            <button class="dropbtn"> Catalogos
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/transportista" routerLinkActive="active" *ngIf="m1l1">Transportista</a>
                <a routerLink="/embarque" routerLinkActive="active" *ngIf="m1l2">Tarifa Embarque</a>
                <a routerLink="/camiont" routerLinkActive="active" *ngIf="m1l3">Tipo Camion</a>
                <a routerLink="/anticipot" routerLinkActive="active" *ngIf="m1l4">Tipo Anticipo</a>
                <a routerLink="/umedida" routerLinkActive="active" *ngIf="m1l5">Unidad Medida</a>
                <a routerLink="/producto" routerLinkActive="active" *ngIf="m1l6">Productos</a>
                <a routerLink="/camion" routerLinkActive="active" *ngIf="m1l7">Camion</a>
                <a routerLink="/piloto" routerLinkActive="active" *ngIf="m1l8">Pilotos</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Procesos
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/registrofac" routerLinkActive="active" *ngIf="m2l1">Factura Registro</a>
                <a routerLink="/registropol" routerLinkActive="active" *ngIf="m2l2">Poliza Registro</a>
                <a routerLink="/registrovjs" routerLinkActive="active" *ngIf="m2l3">(+) Viajes Registro</a>
                <a routerLink="/registroval" routerLinkActive="active" *ngIf="m2l4">(-) Vales Registro</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Reportes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/menu" routerLinkActive="active" *ngIf="m3l1">General</a>
                <a routerLink="/menu" routerLinkActive="active" *ngIf="m3l2">Individual</a>
            </div>
        </div>

        <a style="float: right; cursor: pointer;" (click)="logout()"><i class="fa fa-fw fa-user"></i>Salir</a>

        <!-- <a class="icon" (click)="myFunction()"> <i class="fa fa-bars"></i>  </a> -->
        <a class="icon"> <i class="fa fa-bars"></i> </a>
    </div>
</div>

<div class="container p-5">
    <router-outlet></router-outlet>
</div>